<style>
  .qrBtn{
    margin: auto;
    margin-top: 20%;
  }
  .centerDiv{
    width: 50%;
    height: auto;
    margin: auto;
  }
</style>

<body>
  <div>

  </div class="centerDiv">
    <a style="margin-left:500px;" href="/qrGen" class="btn btn-outline-warning">Genarate QR Code</a>
    <a href="/QrVote" class="btn btn-outline-success">QR AUTHENTICATION</a>
</div>
   <script>
     let btnOpen = document.querySelector('#open');
let btnClose = document.querySelector('#close');
let myTab;
btnOpen.addEventListener('click', ()=>{
    myTab = window.open('http://localhost:4000/loader', '_blank', 'height=500,width=500');
    setTimeout(() => {
        if(myTab) myTab.close();
    }, 30000);
});
btnClose.addEventListener('click', ()=>{
    if(myTab) myTab.close();
});
   </script>
</body>